langchain
python-dotenv
ipykernel
langchain-community
pypdf
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
pandas
openai
langchain-groq
huggingface_hub
